.container {
  display: flex;
  height: 100vh;
  // grid-template-columns: 15vw 85vw;

  .sidebar {
    // min-width: 20%;
    transition: all 0.5s ease-in-out;
  }

  .main {
    flex-grow: 1;
    // width: 1400px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 7px;
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:hover::-webkit-scrollbar,
    &:active::-webkit-scrollbar,
    &.nav::-webkit-scrollbar-thumb {
      opacity: 1;
    }

    &::-webkit-scrollbar-track {
      background: #7e7d7d;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(30, 30, 30, 0.882);
      border-radius: 0 0 5px 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}
